body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 12px Arial, sans-serif;
	background-color: black;
}

#container {
	width: 80%;
	height: 80%;
	margin: auto;

}

form {
	margin-top: 40px;
	width: 100%;
	height: 100%;
}

form label {
	display: block;
	padding: 0 .4em;
	color: white;
	margin-bottom: .2em;
	border-radius: 4px;
}

form label span {
	vertical-align: middle;
	width: 100%;
}

form label input,
form label textarea {
	width: 100%;
}

form label span {
	display: inline-block;
	margin-right: -100%;
}

form label input,
form label textarea {
	border: 0;
	padding: .2em 0;
	background: none;
	background-color: rgba(255, 255, 255, 0.6);
	font-family: inherit;
	font-size: 1em;
	-webkit-transition: background-color 150ms ease-in-out;
	-moz-transition: background-color 150ms ease-in-out;
	transition: background-color 150ms ease-in-out;
}

form label input:focus,
form label textarea:focus {
	background-color: rgba(255, 255, 255, 0.6);
}

form label.notEmpty input,
form label.notEmpty textarea {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	background-color: white;
}

form .submit {
	text-align: right;
}

form .submit button {
	font-family: inherit;
	font-size: 1em;
	cursor: pointer;
}

input[type="password"] {
	border: 1px solid white;
}

._txtarea2 {
	border: 1px solid white;
	font-size: 14px;
	resize: none;
	height: calc(100vh - 300px);
}

span {
	font-size: 20px;
	padding-bottom: 4px;
}

._pass:before {
	content: "\1F512";
}

._text:before {
	content: "\1F4C4";
}

._btn {
	margin-right: 5px;
}

._ibtn {
	position: relative;
	width: 100px;
	margin-left: 4px;
	cursor: pointer;
	border: 0;
	/*border-radius: 3px;*/
	height: 25px;
	float: right;
}

._ibtn:hover:after {
	background-color: red;
	border-bottom: 1px solid white;
	color: white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

._ibtn:after {
	transition: 200ms all ease;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
	color: black;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 25px;
}

#_encrypt:after {
	content: 'Encrypt';
}

#_decrypt:after {
	content: 'Dencrypt';
}

#_save:after {
	content: 'Save File';
}

#_open:after {
	content: 'Open File';
}

#_btncontent {
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
	height: 25px;
}

#_hiddenFile {
	float: right;
	position: absolute;
	visibility: hidden;
	top: 0;
	right: 0;
	z-index: -1;
}