body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 12px Arial, sans-serif;
	background-color: white;
}

#container {
	width: 80%;
	height: 80%;
	margin: auto;
}

form {
	margin-top: 30px;
	width: 100%;
	height: 100%;
	min-width: 936px;
}

form label {
	display: block;
	padding: 0 .4em;
	color: black;
	margin-bottom: .2em;
	border-radius: 4px;
}

form label span {
	vertical-align: middle;
	width: 100%;
}

form label input,
form label textarea {
	width: 100%;
	font: 14px Arial;
}

form label span {
	display: inline-block;
	margin-right: -100%;
}

form .submit {
	text-align: right;
}

form .submit button {
	font-family: inherit;
	font-size: 1em;
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	border: 2px solid #5fcf80;
	border-radius: 5px;
	height: 24px;
}

._txtarea2 {
	border: 2px solid #5fcf80;
	border-radius: 5px;
	resize: none;
	padding: 0;
	height: calc(100vh - 300px);
}

span,
details {
	font-size: 20px;
	margin-bottom: 3px;
}

details {
	display: none;
	float: left;
	width: 50%;
	margin-bottom: 30px;
}

summary {
	color: #5fcf80;
}

._pass:before {
	content: "\1F512";
	color:#5fcf80;
}

._text:before {
	content: "\1F4C4";
	color:#5fcf80;
}

._btn {
	margin-right: 5px;
}

._ibtn {
	position: relative;
	width: 100px;
	margin-left: 4px;
	cursor: pointer;
	border: 2px solid #5fcf80;
	border-radius: 4px;
	/*border-radius: 3px;*/
	height: 25px;
	float: right;
}

._ibtn:hover:after {
	/*border-bottom: 1px solid white;*/
	background-color: #5fcf80;
	color: white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

._ibtn:after {
	transition: 200ms all ease;
	/*border: 1px solid white;*/
	background-color: rgba(255, 255, 255, 0.6);
	/*text-shadow: 0 2px 0 rgba(0, 0, 0, .2);*/
	color: #5fcf80;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 25px;
}

hr {
	background-color: #5fcf80;
	color: #5fcf80;
	border: 1px solid #5fcf80;
}

#_encrypt:after {
	content: 'Encrypt';
}

#_decrypt:after {
	content: 'Dencrypt';
}

#_save:after {
	content: 'Save File';
}

#_open:after {
	content: 'Open File';
}

#_btncontent {
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
	height: 25px;
	float: right;
}

#_hiddenFile {
	float: right;
	position: absolute;
	visibility: hidden;
	top: 0;
	right: 0;
	z-index: -1;
}