html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}

._span {
	margin-left: 20px;
}

#_bmoverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	width: 100%;
	height: 85%;
	margin: auto;
	padding-top: 20px;
	color: white;
	background-color: black;
	font-family: Arial;
}

._txtarea1 {
	width: 85%;
	color: black;
	margin-left: 20px;
	margin-bottom: 5px;
}

._txtarea2 {
	width: 85%;
	height: 80%;
	color: black;
	margin-left: 20px;
	margin-bottom: 5px;
}

._txtareabdr {
	border-right: 0;
	border-top: 0;
	border-left: 0;
	border-bottom: 2px solid red;
}

._btn {
	margin-right: 5px;
}

#_cpylbl {
	width: 100%;
	vertical-align: bottom;
	font-weight: inherit;
}

#_cpydiv {
	margin-left: 20px;
	margin-top: 5px;
}

._ibtn {
	position: relative;
	width: 100px;
	margin-left: 4px;
	cursor: pointer;
	border: 0;
	/*border-radius: 3px;*/
	height: 25px;
	float: left;
}

._ibtn:hover:after {
	background-color: red;
	border-bottom: 2px solid darkred;
	color: white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

._ibtn:after {
	transition: 200ms all ease;
	border-bottom: 2px solid red;
	/*border-radius: 3px;*/
	background-color: lightgray;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
	color: black;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 25px;
}

#_encrypt:after {
	content: 'Encrypt';
}

#_decrypt:after {
	content: 'Dencrypt';
}

#_save:after {
	content: 'Save File';
}

#_open:after {
	content: 'Open File';
}

#_btncontent {
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
	height: 25px;
}

input[type="file"] {
	border: 0px;
}

#_hiddenFile {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}