html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h4 {
	padding: 0;
	margin-bottom: 8px;
	border-bottom: 1px solid darkorange;
    width: 100%;
}

input[type="file"] {
	visibility: hidden;
}

#container {
	margin-top: 20px;
	width: 80%;
	margin: auto;
}

input[type="password"],
input[type="email"],
input[type="text"] {
	border: 1px solid darkorange;
	/* border-radius: 5px; */
	line-height: 22px;
	margin-top: 5px;
	padding-left: 5px;
}

input[type="password"]:empty,
input[type="email"]:empty,
input[type="text"]:empty {
	background-color: #E8E8E8;
}

input[type="password"]:empty:focus,
input[type="email"]:empty:focus,
input[type="text"]:empty:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
	background-color: white;
}

#new-email::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: black;
}

#new-email::-moz-placeholder {
	/* Firefox 19+ */
	color: black;
}

#new-email:-ms-input-placeholder {
	/* IE 10+ */
	color: black;
}

#new-email:-moz-placeholder {
	/* Firefox 18- */
	color: black;
}

#new-email:focus::-webkit-input-placeholder {
	visibility: hidden;
}

#new-email:focus::-moz-placeholder {
	visibility: hidden;
}

#new-email:focus:-ms-input-placeholder {
	/* IE 10+ */
	visibility: hidden;
}

#new-email:focus:-moz-placeholder {
	visibility: hidden;
}

.p-grid {
	display: grid;
}

.opgp-btn {
	width: 150px;
	padding: 7px;
	background-color: black;
	border-radius: 0;
	border: 1px solid darkorange;
	color: white;
	cursor: pointer;
	font-weight: bold;
}
.swal-button {
	width: 150px;
	padding: 7px;
	background-color: darkorange;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.swal-button:hover {
	width: 150px;
	background-color: white;
	border: 1px solid darkorange;
	color: darkorange;
	cursor: pointer;
}
.opgp-btn:hover {
	width: 150px;
	background-color: darkorange;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}

button:disabled,
button[disabled]:hover {
	background-color: lightgray;
	border: 1px solid white;
	color: white;
	cursor: unset;
}

#cls-session,
#exp-keys {
	float: right;
	margin-left: 4px;
}

.decrypt {
	display: none;
}
.o-hidden {
	display: none;
}

._txtarea1 {
	resize: none;
	padding: 0;
	border: 1px solid darkorange;
	/* border-radius: 5px; */
	height: calc(100vh - 190px);
	width: 100%; /*calc(100% - 5px);*/
}

#submit,
#setup {
	padding-top: 30px;
}